
html {
  background-repeat: no-repeat;
  background-attachment: scroll;
    min-height: 100%;
    background:
        radial-gradient(transparent, black),
        url("https://i.imgur.com/ZPYOrjT.png");
    background-size: cover;
}
